html{
    background-color: goldenrod;
}
body{
    margin: 0 auto;
    background-color: gray;
    border: 0.1em outset black;
    text-align: center;
}
h1{
    text-align: center;
    border: 0.1em solid brown;
    color: maroon;
}
p{
    border: 0.1em dashed black;
    padding: 1em;
}
img{
    max-width: 50%;
    max-height: 10%;
}
gold p{
    color: gold;
}
silver p{
    color: silver;
}
bronze p{
    color: #CD7F32;
}
button{
    display: block;
    background-color: brown;
    border: 0.2em solid red;
    font-size: 20px;
    padding: 0.1em;
}
button a{
    color: maroon;
    text-decoration: none;
}